.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    background-color: black;
}
.header .logo a{
    font-size: 1.5rem;
    font-weight: 700;
}
.header .logo a:hover{
    color: rgb(162, 165, 4);
    transition: all .3s;
}

.nav_menu{
    display: flex;

}
.nav_menu li{
    margin: 0 .7rem;
}
.nav_menu li a:hover{
    color: goldenrod;
    transition: all .3s;

}
.nav_menu li .active{
    color: rgb(218, 131, 32);
    transition: all .3s;
}

.header .hamburg{
    display: none;
    
} 



@media screen and (max-width: 640px){
   
   .header{
    padding: 1.5rem 1rem;
   }

   .header .logo a{
    font-size: 1.2rem;
    
}


    .nav_menu{
        position: absolute;
        top: 2.7rem;
        left: 100%;
        height: 100vh;
        width: 100vw;
        background-color: grey;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .5s;
    }

     .active{
        left: 0;
    }

    .nav_menu li{
        margin: .4rem 0;
    }

    .nav_menu li a{
       font-size: 1.2rem;
    }
    .nav_menu li a:hover{
       color: cadetblue;
    }
   
    .header .hamburg{
        display: block;
      font-size: 1rem;
        
    } 
}